#header {
height: 2em;
background-color: #FFFFFF;
}

#header h1 {
font-size: 200%;
font-weight: normal;
padding-left: 0px;
}

h1 {
border-bottom: none;
}

#page-title {
border-bottom: none;
}

#main-content {
margin-left: 0em;
padding: 2px;
}

#search-top-box {
display: none;
}

#page-content p, #page-content .code, #page-content h1, #page-content ul, .math-equation {
width: 700px;
}

#page-content .wiki-content-table {
margin-left: 0em;
}

#page-content blockquote {
width: 650px;
}

tt {
color: #006060;
padding-left: 2px;
padding-right: 1px;
}

table.wiki-content-table  *, code, table.wiki-content-table tr td span.fixed, table.wiki-content-table tr td span.fixed * {
font-family: consolas, inconsolata, andale mono, monospace;
}

*, table.wiki-content-table th *,  table.wiki-content-table td:first-child *, table.wiki-content-table td:first-child {
font-family: lucida grande, helvetica, arial, san-serif;
}

h1 span, div#page-title {
font-family: helvetica, arial, san-serif;
}